.faq {
    min-height: 600px;
    padding: 120px 0 140px 0;
    &__title {
        margin-bottom: 60px;
    }
    .accordion {
        list-style-type: none;
        &__control {
            width: 100%;
            padding: 25px 30px;
            font-size: 20px;
            border-radius: 10px 10px 0 0;
            background-color: $secondary-color;
            border: 0;
            border-bottom: 1px solid #ddd;
            text-align: left;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:hover {
                filter: drop-shadow(0px 0px 5px #717171);
                transition: all 0.5s;
            }
        }
        &__item {
            margin-bottom: 10px;
            border-radius: 10px 10px 0 0;
        }
        &__title {
            font-size: 24px;
            font-weight: 500;
        }
        &__content {
            display: none;
            padding: 30px;
            background-color: #fff;
            border: 2px solid $secondary-color;
            &.open {
                display: block;
            }
        }
        &__icon {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background-color: #fff;
            &:before {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 50%;
                    height: 1px;
                    background-color: $main-color;
                    transform: translate(-50%, -50%);
            }
            &:after {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 1px;
                height: 50%;
                background-color: $main-color;
                transform: translate(-50%, -50%);
        }
            &.open {
                transform: rotate(45deg);
                transition: all 0.5s ease-out;
            }
        }
    }
}