.top {
    background-color: $secondary-color;
    min-height: 100px;
    padding: 20px 0 15px 0;
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
}
.hide {
    display: none;
}
.header {
    &__menu {
        list-style-type: none;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-item {
            text-align: center;
            a {
                text-decoration: none;
                color: $main-color;
                font-size: 24px;
                font-weight: 400; 
                &:hover {
                    text-decoration: underline;
                    transition: all 1s;
                }
            }
            img {
                cursor: pointer;
            }
        }
    }
    &__mobile {
        margin-top: 10px;
    }
    &__wrapper {
        display: flex ;
        align-items: center ;
        justify-content: space-between ;
        .hamburger {
            span {
                display: block;
                width: 40px;
                height: 2px;
                margin-bottom: 5px;
                background-color: $main-color;
            }
        }
    }
    
    &__mm {
            display: none;
            transform: translateX(150%);
            transition: all 0.6s;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 21;
            
        .menu {
            &__wrapper {
                width: 300px;
                height: 100vh;
                padding: 20px;
                background-color: $secondary-color;
            }
            .close {
                margin: 10px 0 40px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    font-size: 20px;
                }
            }
            &__mobile {
                list-style-type: none;
                &-item {
                    margin-bottom: 10px;
                    a {
                        color: $main-color;
                        text-decoration: none;
                        font-size: 20px;
                        
                    }
                }
            }
            &__close {
                width: 25px;
                height: 25px;
            }
        }
    }
}


    
